KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_TOPIC=orders
KAFKA_SECURITY_PROTOCOL=PLAINTEXT
SCHEMA_REGISTRY_URL=http://localhost:8081
SCHEMA_SUBJECT=orders-value
SCHEMA_PATH=schemas/order-value.avsc

