KAFKA_BOOTSTRAP_SERVERS=rc1a-xxxxxxxx.mdb.yandexcloud.net:9091,rc1b-xxxxxxxx.mdb.yandexcloud.net:9091,rc1d-xxxxxxxx.mdb.yandexcloud.net:9091
KAFKA_TOPIC=orders
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=SCRAM-SHA-512
KAFKA_USERNAME=kafka-user
KAFKA_PASSWORD=change_me
KAFKA_SSL_CAFILE=$HOME/.kafka/YandexInternalRootCA.crt
SCHEMA_REGISTRY_URL=https://rc1a-xxxxxxxx.mdb.yandexcloud.net:443
SCHEMA_SUBJECT=orders-value
SCHEMA_PATH=schemas/order-value.avsc
SCHEMA_REGISTRY_USERNAME=kafka-user
SCHEMA_REGISTRY_PASSWORD=change_me
SCHEMA_REGISTRY_CA_FILE=$HOME/.kafka/YandexInternalRootCA.crt

